#oo7 {
    width: 480px;
    margin: 0 auto;
    border-radius: 10px;
    background: #eee;
    overflow: hidden;
}

div {
    float: left;
    background: url(./Moon.gif);
    margin: 5px;
    cursor: pointer;
}

img {
    opacity: 0;
}